
@{
    ViewBag.Title = "Registration";
}

<h1>Registration</h1>
<h5>Add A new User</h5>
<hr />
<form action="/Home/AddNewUser" method="get">
    FirstName  : <input type="text" name="FirstName" /><h1></h1>
    LastName   : <input type="text" name="LastName" /><hr />
    Email      : <input type="email" name="Email" /><hr />
    PhoneNumber: <input type="number" name="PhoneNumber" />
    Password   : <input type="password" name="Password" /><hr />
    <input type="submit" value="Submit" />
</form>

<br />
<br />
<br />









